* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(
    0deg,
    rgba(250, 249, 250, 1) 44%,
    rgba(45, 112, 253, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0px;
  background: linear-gradient(
    0deg,
    rgba(250, 249, 250, 0.485049053801208) 33%,
    rgba(135, 174, 254, 0.2497549361541492) 100%
  );
}

.main-background h1 {
  margin-top: 50px;
}

.white-background {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgb(228, 224, 224) 5px 5px 50px 10px;
  box-shadow: none;
}

.main-background p {
  padding-bottom: 20px;
}

.card-pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 100%;
  height: 100%;
}

.first-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  font-size: 1.4rem;
}

.first-section p {
  font-size: 2.5rem;
  font-weight: bolder;
}

.first-section #dollar {
  font-size: 2.5rem;
  font-weight: bolder;
}

.card-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidecontainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}

.slidecontainer input {
  width: 80%;
}

.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: linear-gradient(
    90deg,
    rgb(214, 214, 214) 60%,
    rgb(214, 214, 214) 60%
  );
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: turquoise;
  cursor: pointer;
  border-radius: 100%;
}

.range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: turquoise;
  cursor: pointer;
  position: relative;
}

.button-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(61, 61, 61);
  margin-top: 0;
  padding: 30px;
  font-size: 1.2rem;
}

.button-section span {
  height: 15px;
  width: 100%;
  color: turquoise;
  font-size: 1.2rem;
}

.button-section ul {
  list-style-type: none;
}

.billing {
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.billing label {
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing #discount {
  background-color: rgb(255, 228, 199);
  margin-left: 20px;
  border-radius: 3px;
  padding: 5px;
  padding-left: 10px;
  color: orangered;
  font-weight: bold;
  width: 150px;
}

#yearly-discount {
  font-size: 1.5rem;
}

#button {
  height: 40px;
  width: 200px;
  border-radius: 35px;
  border: none;
  background: linear-gradient(
    90deg,
    rgb(117, 252, 117) 100%,
    rgb(214, 214, 214) 60%
  );
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bolder;
}

#button:hover {
  background: white;
  border: 3px solid rgb(117, 252, 117);
  color: black;
}

#button:focus {
  border: none;
  outline: none;
  border: 3px solid rgb(117, 252, 117);
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: turquoise;
}

input:focus + .slider {
  box-shadow: 0 0 1px turquoise;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.monthly-billing {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-views {
  color: #ff355e;
  text-shadow: #ff355e 0px 0 5px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
  .main-background {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
  }
  .card-pricing {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
    position: relative;
  }
  .white-background {
    width: 100%;
    height: 100%;
  }
  .header {
    position: absolute;
    top: 10px;
    z-index: 100;
  }
  .first-section {
    padding-top: 200px;
  }
}

@media only screen and (max-width: 350px) {
  * {
    background: none;
    background-color: none;
  }
  .main-background {
    background: none;
  }
  body {
    background: none;
    overflow-x: hidden;
  }
  .header {
    top: 1px;
    left: 40px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-section {
    flex-direction: column;
    padding-top: 50vh;
  }
  .first-section span {
    font-size: 0.8rem;
  }
  .first-section p {
    font-size: 2rem;
  }
  .button-section {
    background-color: rgb(252, 246, 236);
  }
  .billing {
    flex-direction: column;
  }
  .billing label {
    margin-left: 0;
    margin-right: 0;
  }
  .billing #yearly-billing {
    margin-top: 20px;
    padding-left: 20px;
  }

  .billing #discount {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .header {
    left: 0;
  }
  h1 {
    font-size: 1.3rem;
  }
  .header p {
    font-size: 0.8rem;
  }
  .button-section {
    flex-direction: column;
  }
}
