* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(182, 181, 181);
}

body {
  background-color: rgb(6, 39, 39);
}

.main-result {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 2rem;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result span:first-child {
  font-size: 4rem;
  color: rgb(231, 215, 125);
  text-shadow: rgb(150, 147, 147) 0px 0px 10px;
}

h1 {
  text-align: center;
  height: 10vh;
  font-size: 3rem;
}
h3 {
  text-align: center;
  height: 5vh;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.main {
  height: 40vh;
  display: flex;
  justify-content: space-around;
}

.hands-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: white;
  color: rgb(6, 39, 39);
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
